/*
Variables
*/
/*
Grid
*/
.container {
  display: grid;
  grid-column-gap: 1em;
  grid-template-columns: 2fr 3fr;
  grid-template-rows: 2fr 5fr;
}

.div {
  background-color: #EDB84F;
  color: #E8E8E8;
  font-family: Arial;
}

#gridTexto {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr 1fr;
  grid-area: "titulo", "lorem", "redButton";
}

#outra {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr;
  font-size: 1.5em;
  font-weight: bold;
}

.dogCall {
  position: relative;
  top: 10%;
}

/*
Button
*/
.button {
  background-color: #BE2424;
  font-size: 1.5em;
  font-family: Arial;
  font-weight: bold;
  color: #E8E8E8;
  border-radius: 10px;
  position: relative;
  left: 80%;
  bottom: 50%;
}