-const dogLogo = "C:/Users/user/Documents/joao/Cursos/SitesCursoWeb/DogHound/assets/imgs/dogLogo.png"
-let dogImg = "C:/Users/user/Documents/joao/Cursos/SitesCursoWeb/DogHound/assets/imgs/dogImg.png"
-let h1 = 'Adopta'
-let texto = 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus reprehenderit officiis assumenda unde vitae. Ipsum, ea, quam aut esse illum distinctio doloremque dicta nostrum unde non officia ullam tempore optio. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium quis corporis, repudiandae architecto sed, dignissimos harum, accusantium quasi unde molestias reiciendis? Ex perferendis quasi esse vitae totam quas voluptatem aperiam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis amet officiis provident magni sapiente ad dolor porro corrupti beatae voluptas iusto exercitationem, maiores hic quae sit? Ipsa velit voluptas numquam?'
-let cssStyle = "C:/Users/user/Documents/joao/Cursos/SitesCursoWeb/DogHound/css/main.css"