body
    div.container
        div.div#outra
            div
                img(src= dogLogo, alt="")
            div.dogCall
                p DOGcall
        div.div

        div.div#gridTexto
                div
                    h1.h1= h1
                    
                div
                    p= texto
                div
                    button.button(type="submit") ¡Ya!
        div.div
            img(src= dogImg, alt="")